<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @qualification.name %>
</p>

<table class='table'>
  <thead>
    <tr>
      <th>Subjects</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @qualification.subjects.each do |subject| %>
      <% if subject then%>
      <tr>
        <td style="background-color: <%= subject.colour %>"><%= subject.name %></td>
      </tr>
    <% end %>
    <% end %>

  </tbody>
</table>

<%= link_to 'Back', qualifications_path, class: 'btn btn-primary' %>
